<div class=" content">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3 >Mis actividades</h3>
        <div class="navbar">
          <button (click)="Registrar()" class="btn btn-success" style="margin: auto auto auto 400px; ">Registrar Actividad</button>
          <form class="form-inline">
            <input type="search" name="txtBuscar" class="form-control" style="background: white; color: black;">
            <input type="submit" name="accion" value="Buscar" class="btn btn-primary">
          </form>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-hover table text-center">
          <thead>
          <tr>
            <th>Codigo</th>
            <th>Estado</th>
            <th>Curso</th>
            <th>Docente</th>
            <th>Fecha</th>
            <th>Duración</th>
            <th>Semestre</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>

              <button class="btn btn-info">Editar</button>
              <button class="btn btn-danger" style="margin-left: 20px;">Eliminar</button>

            </td>
          </tr>
          </tbody>

        </table>

      </div>
    </div>
