<div class=" content">
  <button (click)="atras()" class="btn btn-success" style="margin-left: 20px;">Atrás</button>
  <div class="container col-md-4">

    <div class="card">
      <div class="card-header" style="text-align: center;" >
        <h3 style="color: #00f2c3;">Agregar actividades</h3>

      </div>

    <div class="card-body">
      <form #formRegistrar="ngForm" (ngSubmit)="onRegistrar(formRegistrar)">

        <div class="form-group">
          <label for="">Estado: </label>
          <input name="estado" type="text" class="form-control" [(ngModel)]="actividad.estado" required>
        </div>

        <div class="form-group">
          <label for="">Curso: </label>
          <input name="curso" type="text" class="form-control" [(ngModel)]="actividad.curso" required>
        </div>

        <div class="form-group">
          <label for="">Docente: </label>
          <input name="docente" type="text" class="form-control" [(ngModel)]="actividad.docente" required>
        </div>

        <div class="form-group">
          <label for="">Fecha: </label>
          <input name="fecha" type="date" class="form-control" [(ngModel)]="actividad.fecha" required>
        </div>

        <div class="form-group">
          <label for="">Duración: </label>
          <input name="duracion" type="text" class="form-control" [(ngModel)]="actividad.duracion" required>
        </div>

        <div class="form-group">
          <label for="">Semestre: </label>
          <input name="semestre" type="text" class="form-control" [(ngModel)]="actividad.semestre" required>
        </div>

        <div class="form-group">
          <label for="">Descripción: </label>
          <input name="descripcion" type="text" class="form-control" [(ngModel)]="actividad.descripcion" required>
        </div>

        <div class="form-group">
          <label for="">Tipo: </label>
          <input name="tipo" type="text" class="form-control" [(ngModel)]="actividad.tipo" required>
        </div>

        <div style="text-align: center;">
          <button type="submit" class="btn btn-primary" >Guardar actividad</button>
        </div>


      </form>

    </div>
  </div>
</div>
</div>
